<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .demo {
      width: 100px;
      height: 100px;
      background-color: gray;
      display: inline-block;
      margin: 10px
    }

    .red {
      background-color: red
    }

    .green {
      background-color: green
    }

    .blue {
      background-color: blue
    }
  </style>

</head>


<body>
  <div id="app">
    <div class="demo" @click="attachRed=!attachRed" :class="{'red': attachRed}">A</div>
    <div class="demo" @click="attachRed=!attachRed" :class="{'red': attachRed, 'blue': !attachRed}">B</div>
    <div class="demo" :class="divClasses">C</div>
    <div class=" demo" :class="[color, {'red': attachRed}]">D</div>
    <div class=" demo" :class="color">E</div>
    <div class="demo" :style="{backgroundColor: color}">F</div>
    <div class=" demo" :style="myStyle">G</div>
    <div class=" demo" :style="[myStyle, {height: width+'px'}]">H</div>
    <input type="text" name="" value="" v-model="color">
    <input type="text" name="" value="" v-model="width">
  </div>

</body>
<script src="vue.js "></script>

<script>
  new Vue({
    el: '#app',
    data: {
      attachRed: false,
      color: 'green',
      width: 100
    },
    computed: {
      myStyle: function () {
        return {
          backgroundColor: this.color,
          width: this.width + 'px'
        }
      },
      divClasses: function () {
        return {
          red: this.attachRed,
          blue: !this.attachRed
        }
      }
    }
  })
</script>

</html>